<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green House</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}"
    />
</head>
<body>
    <form action="/signin" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
          
          <label class="form-label" for="form2Example1">
            User Name
            <input type="text" id="form2Example1" class="form-control" />
          </label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">
            Password
            <input type="password" id="form2Example2" class="form-control" />
          </label>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="/signup">Register</a></p>
        </div>
      </form>
</body>
</html>